
.name{font-size:x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(55, 55, 255);
    text-align: center;
  margin-top: -6%;}
    .im{
    float: left;}
   

   
.obj{
margin-top: 7%;

}
p.h3{
    background-color: rgb(0, 0, 255);
    color: #ffffff;
    margin-top: 2%;
}

#nehru{
 margin-left: 90%;}
#lfg
{margin-left: 90%;}
#lf{ margin-left: 90%;}   
h2{text-align: left;border: solid;color: #ffffff;}
.ai{ text-align: left;}
 div#divq,#num{text-align: center;}
 .img-fluid{
  margin-top: 2%;
  margin-left: 2%;
 }
 

        


    




    


